// Заголовки, загальні БЕМ блоки та інше...
.title {
    font-family: 'Inter';
    font-weight: 800;
    // font-size: rem(48);
    line-height: math.div(64, 48);

    color: #18191f;

    @include adaptiveValue('font-size', 48, 22, 0, 1190, 320);

    &--mb {
        margin-bottom: rem(24);
    }

    &--response {
        position: relative;
        width: rem(445);
        margin-bottom: rem(8);

        @include adaptiveValue('width', 445, 300, 0, 1190, 320);

        &::before {
            content: '';
            position: absolute;
            background-image: url(../img/icon/mark.svg);
            background-repeat: no-repeat;
            background-size: contain;
            width: 143px;
            height: 120px;
            top: -56px;
            left: -95px;
            opacity: 0.3;
            z-index: -1;

            & {
                @include adaptiveValue('width', 143, 24, 0, 1190, 320);
                @include adaptiveValue('height', 120, 20, 0, 1190, 320);
                @include adaptiveValue('top', -56, -5, 0, 1190, 320);
                @include adaptiveValue('left', -95, -12, 0, 1190, 320);
            }
        }
    }

    &--serve {
        margin-bottom: rem(8);
    }
}

.subtittle {
    font-size: 18px;
    line-height: 32px;
    line-height: math.div(32, 18);

    color: #18191f;

    @include adaptiveValue('font-size', 18, 14, 0, 1190, 320);
}

.container-sm {
    max-width: rem(1220);
    margin: 0 auto;
    padding: 0 15px;

    &--df {
        display: flex;
        align-items: center;
    }

    &--serve-mb {
        margin-bottom: rem(106);
        @include adaptiveValue('margin-bottom', 106, 50, 0, 1190, 320);
    }
}

.container-big {
    max-width: rem(1280);
    margin: 0 auto;
    padding-left: rem(15);
    padding-right: rem(15);

    @media (max-width: $mobileSmall) {
        padding-left: rem(8);
        padding-right: rem(8);
    }

    &--mb {
        margin-bottom: rem(134);

        @include adaptiveValue('margin-bottom', 134, 80, 0, 1190, 320);
    }

    &--subscr {
        margin-bottom: rem(160);
        @include adaptiveValue('margin-bottom', 160, 100, 0, 1190, 320);
    }
}
